.header {
  background-color: #1266F1;
  color: white;
  min-height: 70px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  font-size: 2em;
}

.header-subtitle {
  font-size: .9em;
}

.header-title,
.header-subtitle {
  display: inline;
}
